@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #141E30, #243B55);
    color: #fff;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}


h1{
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.choices {
    display: flex;
    justify-content: center;
     margin-bottom: 40px;
     gap: 5%;

}

 
.choice {
    width: 110px;
    height: 110px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.choice p{
    font-size: 65px;
}
 
.choice:hover{
    background-color:rgb(255, 255, 202);
    cursor: pointer;
    box-shadow: 0 0 20px #00eaff;
    transform: scale(1.15);
}

.score-board{
    display: flex;
    justify-content: center;
    margin: 35px;
    gap: 80px;
    
}

.score{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 15px rgba(0, 234, 255, 0.4);
}

#user-score, #computer-score{
    font-size: 3rem;
    font-weight: 600;
}



.msg-container{
    margin-top: 20px;
    
}

#msg{
    font-size: 1.2rem;
    background-color: #000;
    color: white;
    display: inline;
    padding: 15px 25px;
    border-radius: 1rem;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.4);
    text-transform: capitalize;
    width: max-content;
}
 